{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Sidebar</title>
 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class="bx bxl-audible icon"></i>
      <div class="logo_name">MediScan AI</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="link_name">Analyse</span>
        </a>
        <span class="tooltip">Analyse</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          <span class="link_name">Gestion des Patients</span>
        </a>
        <span class="tooltip">Gestion des Patients</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name">Rapports Médicaux</span>
        </a>
        <span class="tooltip">Rapports Médicaux</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-folder"></i>
          <span class="link_name">Statistiques </span>
        </a>
        <span class="tooltip">Statistiques </span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="link_name">Médecins/Laborantins</span>
        </a>
        <span class="tooltip">Médecins/Laborantins</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Paramètres </span>
        </a>
        <span class="tooltip">Paramètres </span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <img src="{% static 'images/attaque.jpg' %}" alt="profile image">
          <div class="profile_content">
            <div class="name">Dr Kabongo</div>
            <div class="designation">Admin</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Dashboard</div>
  </section>
  <!-- Scripts -->
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>